.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  width: 100%;
  padding-right: 25px;
  padding-left: 10px;
  background-color: #161616;
}
.my-masonry-grid_column {
  padding: 2px;
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  flex-grow: 1;
}

.my-masonry-grid_column > img {
  width: 100%;
  height: auto;
  margin: 2px;
}

.easeload {
  opacity: 0;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.load {
  opacity: 1;
}
